/*===== VARIABLES AND IMPORTS ===== */
/* Colors: */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body[class="dark"] {
  --primary-color-100: hsl(230, 17%, 14%);
  --primary-color-200: hsl(232, 19%, 15%);
  --primary-color-300: hsl(228, 28%, 20%);
  --text-color-1: hsl(228, 34%, 66%);
  --text-color-2: hsl(0, 0%, 100%);
  --theme-button-gradient: linear-gradient(
    45deg,
    hsl(210, 78%, 56%),
    hsl(146, 68%, 55%)
  );
}

body[class=""] {
  --primary-color-100: hsl(0, 0%, 100%);
  --primary-color-200: hsl(225, 100%, 98%);
  --primary-color-300: hsl(227, 47%, 96%);
  --text-color-1: hsl(228, 12%, 44%);
  --text-color-2: hsl(230, 17%, 14%);
  --theme-button-gradient: hsl(230, 22%, 74%);
}

/* Growth colors: */
/* Cards borders color: */
/* Fonts import: */
/* ========== */
/*===== INITIALIZATION & GENERAL STYLES===== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  /* We add the transition duration to ease the theme switch */
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

footer {
  font-size: 0.667em;
  text-align: center;
  padding-bottom: 5px;
  color: var(--text-color-2);
}

footer a {
  color: var(--text-color-1);
}

/* Counter cards top border color: */
.topBorder.facebook {
  background-color: #198ff5;
}

.topBorder.twitter {
  background-color: #1ca0f2;
}

.topBorder.youtube {
  background-color: #c4032a;
}

.topBorder.instagram {
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(90deg, #fdc468, #df4996);
}

/* Growth styles: */
.growth[raise] {
  color: #1db489;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.growth[raise]::before {
  content: "";
  background-image: url("../images/icon-up.svg");
  width: 10px;
  height: 5px;
  position: absolute;
  top: 35%;
  left: -12px;
  background-repeat: no-repeat;
  background-position: center;
}

.growth[drop] {
  color: #dc414c;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.growth[drop]::before {
  content: "";
  background-image: url("../images/icon-down.svg");
  width: 10px;
  height: 5px;
  position: absolute;
  top: 35%;
  left: -12px;
  background-repeat: no-repeat;
  background-position: center;
}

/* ========== */
/* ===== STYLES ===== */
body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--primary-color-100);
  padding: 40px 25px 10px;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  color: var(--text-color-2);
  font-weight: 700;
}

body .backgroundTopDecoration {
  height: 15.667em;
  width: 100vw;
  position: absolute;
  background-color: var(--primary-color-200);
  z-index: -2;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  left: 0;
  top: 0;
  /* We add the transition duration to ease the theme switch */
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

body header h1 {
  font-size: 1.333em;
}

body header .totalCounter {
  font-size: 0.667em;
  color: var(--text-color-1);
}

body header .separator {
  width: 100%;
  height: 1px;
  background-color: var(--primary-color-300);
  margin: 20px 0 15px;
}

body header .themeSwitch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .themeSwitch .modeActivated {
  font-size: 0.667em;
  color: var(--text-color-1);
  font-weight: 700;
}

body header .themeSwitch #themeButton {
  cursor: pointer;
  width: 50px;
  height: 24px;
  background: var(--theme-button-gradient);
  border-radius: 300px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .themeSwitch #themeButton #switch {
  display: block;
  height: 20px;
  width: 20px;
  background-color: var(--primary-color-200);
  position: absolute;
  left: 26%;
  top: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* We add the transition duration to ease the theme switch button animation */
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

body main {
  margin: 2.667em 0;
}

body main #countersSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  gap: 1.667em;
  width: 100%;
  margin-bottom: 3em;
}

body main #countersSection .counter {
  background-color: var(--primary-color-300);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  padding: 25px 0;
  height: 12em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main #countersSection .counter .topBorder {
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

body main #countersSection .counter .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  margin: 0 auto;
  font-size: 0.667em;
  color: var(--text-color-1);
}

body main #countersSection .counter .socials p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body main #countersSection .counter .socials img {
  width: 1.333em;
}

body main #countersSection .counter .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body main #countersSection .counter .count .number {
  font-size: 2.667em;
  font-weight: 700;
}

body main #countersSection .counter .count p {
  text-transform: uppercase;
  color: var(--text-color-1);
  font-size: 0.667em;
  letter-spacing: 0.333em;
}

body main #countersSection .counter .growth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 0.667em;
  gap: 2px;
}

body main #countersSection .counter .growth .amount {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

body main #countersSection .counter .growth p {
  text-transform: capitalize;
}

body main #overviewSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

body main #overviewSection h2 {
  margin-bottom: 0.333em;
}

body main #overviewSection .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

body main #overviewSection .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--primary-color-300);
  border-radius: 5px;
  padding: 1.333em 2em;
  gap: 2em;
}

body main #overviewSection .cards .card .topPart {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #overviewSection .cards .card .topPart .title {
  font-size: 0.667em;
  color: var(--text-color-1);
  font-weight: 700;
}

body main #overviewSection .cards .card .topPart .socialIcon {
  height: 1.333em;
}

body main #overviewSection .cards .card .bottomPart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body main #overviewSection .cards .card .bottomPart .number {
  font-size: 1.667em;
  font-weight: 700;
}

body main #overviewSection .cards .card .bottomPart .growth {
  font-size: 0.667em;
}

@media screen and (min-width: 1100px) {
  body {
    padding: 40px 165px 10px;
    font-size: 20px;
  }
  body .backgroundTopDecoration {
    height: 10.667em;
    width: 100vw;
    position: absolute;
    background-color: var(--primary-color-200);
    z-index: -2;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    left: 0;
    top: 0;
  }
  body header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .separator {
    display: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header .themeSwitch {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    gap: 10px;
  }
  body header .themeSwitch .modeActivated {
    color: var(--text-color-2);
  }
  body main {
    margin: 1.875em 0 2.083em;
  }
  body main #countersSection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0.25em;
    margin-bottom: 2.083em;
  }
  body main #countersSection .counter {
    height: 10em;
    width: 12.25em;
    padding: 30px 25px;
  }
  body main #overviewSection {
    width: 100%;
    height: 100%;
  }
  body main #overviewSection h2 {
    margin-bottom: 0;
  }
  body main #overviewSection .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
  }
  body main #overviewSection .cards .card {
    height: 100%;
    padding: 25px 30px;
    gap: 0.75em;
  }
  body main #overviewSection .cards .card .topPart .socialIcon {
    height: 1em;
  }
}
/*# sourceMappingURL=style.css.map */